<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @course.cost %>
</p>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
